@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
    --black: #212329;
    --white: #fff;
    --gray: #60646f;
    --primary-color: #5aa2f7;
}

.event-container {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    justify-content: center;
    margin-top: 1%;
}

.event-container__date-block{
    background: var(--black);
    color: var(--white);
    align-self: center;
    padding: 27px 35px;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.event-container__date-block:hover ~ .event-container__event-details, 
.event-container__event-details:hover{
    opacity: 1;
}

.date-block__month {
    font-size: 18px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom : 10px
}

.date-block__day {
    font-size: 20px;
}

.event-container__event-details{
    background: var(--black);
    color: var(--white);
    padding: 40px;
    border-radius: 5px;
    position: relative;
    margin-left: 25px;
    width: 450px;
    opacity: 0;
    transition: 0.3s;

}


.event-container__event-details::before{
    content: '';
    position: absolute;
    left: -9px;
    top: 48%;
    /* Mothalet
    width: 0;
    height: 0;
    border-top: 15px solid transparent ;
    border-bottom: 15px solid transparent ;
    border-right: 15px solid var(--black) ; */
    width: 22px;
    height: 22px;
    border-radius: 5px;
    background: var(--black);
    transform: rotate(45deg);
}

.event-details__title{
    margin: 0;
    opacity: 0.9;
    font-size: 23px;
    line-height: 20px;
    font-weight: 700;
}



.event-details__date-range{
    font-size: 16px;
    opacity: 0.8;
    margin-top: 10px;
}

.action-bar__btn{
    background: transparent;
    border: none;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 15px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}

.action-bar__btn--primary{
    background: var(--primary-color);
}
.action-bar__btn--dimmed{
    opacity: 50%;
}

.event-details__attendees{
    margin-top: 25px;
}

.event-details__attendees h2{
    font-size: 21px;
}


.event-details__attendees ul{
    list-style: none;
    padding: 0;
}

.attendees__email{
    opacity: 0.8;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 17px;
}

.attendees__email:last-child{
    margin-bottom: 0;
}

.attendees__email::before{
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--gray);
    display: inline-block;
    position: absolute;
    left: 0;
    text-align: center;
}

.attendees__email--accepted::before{
    content: '✔';
}
.attendees__email--tentative::before{
    content: '?';
    opacity: 0.5;
}