*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


img{
transition: all .5s ease-in-out;
display: block;
margin: 50px auto;
}

img:hover{
   transform: translateZ(100px)
    
}

body{
    perspective: 600px;
}